<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 1. 先定义Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 2. 再引用Appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
