<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjdx.xoj.mapper.FileRecordMapper">
    <resultMap id="BaseResultMap" type="com.jjdx.xoj.model.entity.FileRecord">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="originalName" column="originalName" jdbcType="VARCHAR"/>
        <result property="storageName" column="storageName" jdbcType="VARCHAR"/>
        <result property="fileSize" column="fileSize" jdbcType="BIGINT"/>
        <result property="fileType" column="fileType" jdbcType="VARCHAR"/>
        <result property="fileExtension" column="fileExtension" jdbcType="VARCHAR"/>
        <result property="fileCategory" column="fileCategory" jdbcType="VARCHAR"/>
        <result property="createdTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,originalName,storageName,
        fileSize,fileType,fileExtension,
        fileCategory,createdTime,updatedTime,
        isDelete
    </sql>
</mapper>

